[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
watchdog = "*"
coverage = "*"
passlib = "*"
pystray = "*"
flask = "*"
flask-pymongo = "*"
mongoengine = "*"
kivy = "*"
pynetworking = {path = "D:/Programmieren/Python/pynetworking/dist/pynetworking-0.1.10-py3-none-any.whl"}

[requires]
python_version = "3.7"
