[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pynetworking = "*"
watchdog = "*"
coverage = "*"
passlib = "*"
kivy = "*"

[requires]
python_version = "3.7"
